body{background-color:#0A072B;}
header{
font-size:30pt;
color:#ffffff;
text-align:center;
font-family: "BBH Sans Bartle", sans-serif;
font-weight: 400;
font-size:40pt;
font-style: normal;
position: fixed;
background-color:#0A072B;
top: 0;
left:50%;
transform: translateX(-50%);
width:100%;
padding:25px;
}

h2{font-size:20pt;
color:#3E5353;
font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-style: italic,normal;
text-align:center;
}

h2:hover{color:#61153D;
font-style:bolder;
}

table{border-collapse:collapse}

td{border-style:solid;
border-color:black;
border-width:1pt;
padding:3px
}

th{border-style:solid;
border-color:black;
border-width:1pt;
padding:3px;}
